<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
    	body{  overflow:hidden;}
    	#qrcode { position:fixed;
    		bottom:40%;
    		right:15px;
    		z-index:100;
    		border:20px white solid; }
 		iframe {position:fixed; 
 			top:0; 
 			left:0; 
 			bottom:0; 
 			right:0; 
 			width:100%; 
 			height:100%; 
 			border:none; 
 			margin:none; padding:0; overflow:hidden; z-index:-999999}
	</style>
	<script>
{% if page.previous.url %}		
setTimeout(function() {
  window.location.href = "{{page.previous.url}}"
}, 20000);
{% else %}
{% assign post = site.posts.first %}
setTimeout(function() {
  window.location.href = "{{post.url}}"
}, 20000);

{%endif%}    

</script>
  </head>
  <body style="margin:0">
    {{ content }}
  </body>
</html>